<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
</head>

<body>
  <iframe style="display: block; margin: 0 auto" src={{urlPDF}} width="800" height="600"></iframe>
  <div style="
        font-size: 0.7rem;
        min-width: 400px;
        margin: 1rem auto;
        text-align: center;
      ">
    <a href={{urlHTML}} target="_blank">html</a>
    <a href={{urlTex}} target="_blank">tex</a>
    <a href={{urlDesmos}} target="_blank">desmos</a>
    <a href={{urlPDF}} target="_blank">pdf</a>
  </div>
</body>

</html>